body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 5px;
}

menu *:nth-child(2n+1):not(button):not(select) {
    text-align: right;
}

menu input {
    width: 40px;
}

menu button {
    grid-column: 1 / -1;
}